<div class="home-card-container">
  <mat-card>
    <mat-card-title>Howdy! Here's a list of awesome computer scientists.</mat-card-title>
    <mat-card-content>
      <p> Do you know any others? Add to the list yourself.
      </p>
      <form (submit)="addName()" class="home-form">
        <div>
          <mat-form-field>
            <input matInput [(ngModel)]="newName" name="newName" class="home-input" placeholder="Awesome Computer Scientist" ngDefaultControl>
          </mat-form-field>
          <button mat-raised-button color="accent" type="submit" class="home-button">ADD</button>
        </div>
      </form>
      <mat-list class="home-list">
        <mat-list-item *ngFor="let name of names">
          <h3 mat-line>{{ name }}</h3>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
